<h1>Add Payment Method</h1>
<code>
 ExchequerClient::AddPaymentMethod.render.html_safe
</code>

<h6>
It renders:
</h6>
<div style="height: 500px">
<%= ExchequerClient::AddPaymentMethod.render.html_safe %>
</div>
