<h2>Offers</h2>

<% @offers.each do |offer| %>
  <div>
    <div>
      Name: <%= offer.name %>
    </div>
    <div>
      Description: <%= offer.description %>
    </div>
    <div>
      <%= link_to "Buy", ExchequerClient::URL.offers_show(offer.id) %>
    </div>
    <div>
      <%= ExchequerClient::Iframe::Offers.show(offer.id).html_safe %>
    </div>
  </div>
<% end %>
